* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
}/* The Body of the login page*/
body {
  	background-image: linear-gradient(to bottom right,lightblue, #eaebed);
}
.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #2f3947;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: lightblue;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: lightblue;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2f3947;
  	transition: background-color 0.2s;
}
.top {
    background-color:lightblue;

	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    color:#ffffff;
    justify-content: center;
    text-align: center;
   padding-top:50px;
   padding-bottom: 20px;
   
}/* End Body of the login page*/
h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
}
 /* The Body of the input (home) page*/
body{
    background-color:lightblue;
}
.welcome {
    
    justify-content: center;
	text-align-last: center;
   padding-top:50px;
   padding-bottom: 20px;;
}
/* FOR TITLE of the Signup Page */
h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
} /* FOR header of the checkbox input */
h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
} /* FOR Nav bar */
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}/* FOR for nav bar links */
.navtop div a:hover {
	color: rgba(90, 235, 17, 0.937);
}/* FOR feildset (checkbox) of the Signup Page */

	.fs1 {
		flex:1 auto;
	}
	.fs2{
		flex:1 auto;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	  }
	  /* FOR Table style is not working, need help to figure out why */
	  table, td, th {  
		border: 1px solid #2f3947;
		height: 15%;
		text-align: center;

	  }
	  
	  th {  
		
		font-family: Arial, Helvetica, sans-serif;
	  }
	  

	  table {
		border-collapse: collapse;
		
		
	  }
	  
	  th, td {
		padding: 15px;}
	tr:hover {
	background-color:aliceblue;

}
tr {
	background-color:#c1c4c8;
}
/* FOR buttons of the teams again not working not sure why? */
.teambutton {
	position: absolute;
	
	
  }
  
/*
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #282e42;
}
.content {
	width: 1000px;
	max-height: fit-content;
	margin: 0 auto;
	background-color: #939aad;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #6d707e;
	font-size:xx-large;
	text-align: center;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
.fieldset1 {
width:max-content;

font-size: larger;

}
.fs1 {
	float:left;
}
.fs2{
	float:left;
}
.tabpos {
	float:right;
}
.btntb1{
display:inline;
float:right;
margin-right: 105px;
background-color: red;
color:white;
}

.btntb2{
	display:inline;
	float:right;
	margin-right: 105px;
	background-color: rgb(112, 94, 168);
	color:white;
	}

	.btntb3{
		display:inline;
		float:right;
		margin-right: 105px;
		background-color: rgb(69, 25, 190);
		color:white;
		}

		.btntb4{
			display:inline;
			float:right;
			margin-right: 105px;
			background-color: rgb(233, 7, 146);
			color:white;
			}
.ptable{
	padding-top:5px;
margin-right:300px;
}
.rost1{
	text-align: center;
}

table{
	width:600px;
   height: 100%;
	 border: 5px solid #000;
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 th, td{
	 border: 5px outset grey;
 }
 thead{
	 font-family: Arial, Helvetica, sans-serif;
	 background-color: blue;
 }
 tr{
	 padding:50px;
 }
 td{
	 border: 1px soild black;
 }
 th{
	 background-color:blue;

 }
 .btnSubmit{
	background-color:red;
	width:100px;
	margin-left:600px;
	
 }
.test {
	display:flexbox;
	width:50px;
	float:left;

}